#----------------------------------------------------------
# IDEs
#----------------------------------------------------------
/.idea/


#----------------------------------------------------------
# Pub package manager
#----------------------------------------------------------
/packages/
/pubspec.lock


#----------------------------------------------------------
# For development purposes
#----------------------------------------------------------
/*.results.xml
/*.exe
/*.runner.dart