#----------------------------------------------------------
# IDEs
#----------------------------------------------------------
/.idea/


#----------------------------------------------------------
# Pub package manager
#----------------------------------------------------------
/packages/
/.packages
/pubspec.lock
/.pub/


#----------------------------------------------------------
# For development purposes
#----------------------------------------------------------
/*.results.xml
/*.exe
/*.runner.dart